p {
    text-align: center;
}
#fogo{
  position: absolute;
  top: -00px;
  left: 850px
  
}p {
    text-align: center;
}
#fogo{
  position: absolute;
  top: -00px;
  left: 850px
  
}
#caveira{
  position: absolute;
  top: -0px;
  left: 300px;
}
#caveira{
  position: absolute;
  top: -0px;
  left: 300px;
}